.main {
    /* background: #ffffff22; */
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .6rem;
    /* transition: all 1s ease; */
}

/* .main:hover {
    box-shadow: white 5px 5px;
    background: #ffffff44;
    translate: -5px -5px;
} */

.main * {
    word-wrap: break-word;
}

.numbers {
    display: flex;
    gap: 2rem;
}

.numbers > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.numbers .icon {
    color: #ffffff66;
}

.langs {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    margin-bottom: 1rem;
}

.lang {
    border-radius: 1rem;
    background: #ffffff33;
    padding: .2rem .6rem;
}