.noUser {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    height: 70vh;
    display: grid;
    color: #ffffff99;
    place-items: center;
}

.noUser span {
    color: white;
    display: inline;
}

.input__section {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.input__section > p {
    font-size: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    font-size: 2.5rem;
    border-radius: .8rem;
    padding: 1rem 2rem;
    background: #ffffffcc;
    outline: transparent;
    border: none;
    color: black;
    max-width: 90vw;
    font-family: monospace;
}

.input:focus {
    outline: transparent;
}

.arrow {
    font-size: 3rem;
    margin-left: 1rem;
}

/* .input  */

@media only screen and (max-width: 800px) {
    .input__section {
        flex-direction: column;
    }
}

/* repos */

.repos_table_header {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repos_table_header .repos_heading {
    font-size: 2rem;
}