/* Normalize */
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* variables */
:root {
  /* --bgClr: #232946; */
  /* --bgClr: black; */
  --bgClr: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
  --textColor: #fffffe;
}

/* body styles */
body {
  min-height: 100vh;
  background: var(--bgClr);
  color: var(--textColor);

  font-family: 'Roboto', sans-serif;

  padding: 0 10vw 5rem;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 0 5vw 5rem;
  }
}