/* Normalize */
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* variables */
:root {
  --bgClr: #232946;
  --textColor: #fffffe;
}

/* body styles */
body {
  min-height: 100vh;
  background: var(--bgClr);
  color: var(--textColor);
}